<!DOCTYPE html>
  <html>
    <head>
      <title>{{ page.title }}</title>
      <meta charset="utf-8">
      <link rel="shortcut icon" type="image/x-icon" href="images/flor.jpg" />
      <link rel="stylesheet" type="text/css" href="css/main.css">
    </head>
    <body>
      <div class="container horizontalLayoout">
      {{ content }}
      </div>
      <footer style="font-size: 23px; text-align: center;" class="horizontalLayoout">
          <div class="flex-2"><a target="_blank" href="mailto:cintya125@hotmail.com"><b>Contactar por e-mail</b></a></div>
          <div class="flex"><b>Saisha Terapias</b><br>(Sitio en construcción)</div>
          <div class="flex-2"><b>Teléfono: (15) 6377-2326</b></div>
        </ul>
      </footer>
    </body>
  </html>